<!DOCTYPE html>
<html lang="ru">
  <head>
     <meta charset="utf-8">
     <title> {{ title }} </title>
     <link type="text/css" href="{{ url_for ('static', filename = 'css/styles.css')}}" rel="stylesheet" >
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alice&family=Lunasima&family=Roboto&display=swap" rel="stylesheet">
</head>
  <body>
    <header>
      <h1>Выйти</h1>
      <!-- <img src="../static/images/top_wide.png" alt="Header image" id="bg">
      <img src="../static/images/logo.png" alt="logo" id="logo"> -->
      </header>

    <div class="content">
        {% block content %}
        {% endblock %}
     </div>
  </body>